body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('kids.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9); /* Más opacidad para mejor legibilidad */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra para destacar la barra */
    z-index: 10;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos uniformemente */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 10px 0;
}

.toolbar-title {
    max-height: 50px;
    margin-right: 20px;
}

#viz {
    margin-top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 0;
    left: 0;
}

button {
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    transition: background 0.3s, color 0.3s; /* Transición suave */
}

button:hover {
    background-color: #45a049; /* Un tono más oscuro al pasar el mouse */
}

html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#menuButton {
    font-size: 24px; /* Tamaño del icono */
    background: none;
    border: none;
    color: #333; /* Color del texto/icono */
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 20px; /* Espacio antes del título */
}

#menuButton:hover {
    background-color: #ddd; /* Cambio de fondo al pasar el ratón */
}

/* Estilos para el popup */
.info-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 8px;
    z-index: 100;
    display: none; /* Oculto inicialmente */
}

/* Estilos para el texto dentro del popup */
.info-popup p {
    margin: 0;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}




