body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('kids.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Elimina el overflow: hidden; para permitir desplazamiento */
}

.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.toolbar-title {
    /* Establece un tamaño para la imagen, si es necesario */
    max-height: 50px;
    margin-right: 20px;
}

/* Establece un margen superior para el contenido para que no esté detrás de la barra de herramientas fija */
#viz {
    margin-top: 70px; /* Ajusta este valor según la altura de tu barra de herramientas */
    width: 100%;
    height: calc(100vh - 70px); /* Ajusta este valor para que calcule el 100% de la altura de la pantalla menos la barra de herramientas */
    position: relative;
    top: 0;
    left: 0;
}

button {
    margin: 0 10px;
}

/* Añade estilos para el desplazamiento si el contenido es más grande que el viewport */
html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

